#map
  width: 100%
  height: 600px

.ada-panel__item
  cursor: pointer

.open
  display: block

.quest
  &__title a
    display: block
    margin: 9px 0 9px 0
    text-decoration: none
    color: black
  &__score
    margin: 9px 0 9px 0
  &__content
    border: 8px solid gray
    padding: 20px 100px
  &__desc
    margin-top: 20px
