#map
  width: 100%
  height: 600px

.ada-panel__item
  cursor: pointer

.open
  display: block

.quest__title a
  display: block
  text-decoration: none
  color: black

.quest__content
  border: 8px solid gray
  padding: 20px 100px

.quest__desc
  margin-top: 20px
